table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--secondary-color);
    font-family: var(--font-family);
    color: var(--text-main);
    margin-bottom: 2em;
    border: 2px solid var(--border); /* bold comic-like outer border */
    table-layout: fixed;
    overflow-x: auto;
}

th,
td {
    padding: 0.75em 1em;
    border: 1px solid var(--border); /* comic-style grid lines */
    max-width: 250px;
    padding: 6px;
    text-align: left;
    vertical-align: top;
    word-wrap: break-word;
}

th {
    background-color: var(--primary-color);
    color: var(--header-color);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

tr:hover {
    background-color: var(--secondary-color-light);
}
